frr defaults traditional
log syslog informational
ip forwarding
!
router bgp {{ .ASN }}
 no bgp ebgp-requires-policy
 no bgp network import-check
 bgp bestpath aigp
 bgp router-id 192.168.255.{{ .OrionId }}
{{ range .Groups }}
 neighbor orion{{ .ASN }} peer-group
 neighbor orion{{ .ASN }} remote-as {{ .ASN }}
{{- end -}}
{{- range .Peers }}
 neighbor {{ .Address }} peer-group orion{{ .ASN }}
 neighbor {{ .Address }} aigp
{{- end }}
 !
 address-family ipv4 unicast
  network 10.30.{{ .OrionId }}.0/24
  network 192.168.255.{{ .OrionId }}/32
{{- range .Groups }}
  neighbor orion{{ .ASN }} activate
  neighbor orion{{ .ASN }} route-map aigp{{ .ASN }} out
  neighbor orion{{ .ASN }} route-map aigp{{ .ASN }} in
{{- end }}
 exit-address-family
 !
 address-family ipv4 multicast
  network 232.30.{{ .OrionId }}.0/24
{{- range .Groups }}
  neighbor orion{{ .ASN }} activate
  neighbor orion{{ .ASN }} route-map aigp{{ .ASN }} out
  neighbor orion{{ .ASN }} route-map aigp{{ .ASN }} in
{{- end }}
 exit-address-family
exit
!
{{ range .Groups -}}
route-map aigp{{ .ASN }} permit 10
  match ip address prefix-list orion
  set aigp-metric {{ .Weight }}
route-map aigp{{ .ASN }} deny 20
{{ end -}}
!
ip prefix-list orion seq 10 permit 172.30.0.0/15 le 31 ge 31
ip prefix-list orion seq 11 permit 192.168.255.0/24 le 32 ge 32
ip prefix-list orion seq 20 permit 10.30.0.0/16 le 32 ge 24
ip prefix-list orion seq 30 permit 232.30.0.0/16 le 32 ge 24
!
line vty
!
