frr defaults traditional
log syslog informational
ip forwarding
ip nht resolve-via-default
!
{{- range .Peers }}
interface orion{{ .OrionId }}
 ipv6 nd ra-interval 3
!
{{- end }}
!
router bgp {{ .ASN }}
 no bgp network import-check
 bgp ipv6-auto-ra
 bgp default ipv4-multicast
 bgp router-id 192.168.255.{{ .OrionId }}
{{ range .Groups }}
 neighbor orionAS{{ .ASN }} peer-group
 neighbor orionAS{{ .ASN }} capability extended-nexthop
 neighbor orionAS{{ .ASN }} capability dynamic
{{- end -}}
{{- range .Peers }}
 neighbor orion{{ .OrionId }} interface remote-as {{ .ASN }}
 neighbor orion{{ .OrionId }} bfd
 neighbor orion{{ .OrionId }} interface peer-group orionAS{{ .ASN }}
{{- end }}
 !
 address-family ipv4 unicast
  network 10.30.{{ .OrionId }}.0/24
{{- range .Groups }}
  neighbor orionAS{{ .ASN }} activate
  neighbor orionAS{{ .ASN }} route-map orion{{ .ASN }} out
  neighbor orionAS{{ .ASN }} route-map orion{{ .ASN }} in
{{- end }}
 exit-address-family
 !
 address-family ipv4 multicast
  network 232.30.{{ .OrionId }}.0/24
{{- range .Groups }}
  neighbor orionAS{{ .ASN }} activate
  neighbor orionAS{{ .ASN }} route-map orion{{ .ASN }} out
  neighbor orionAS{{ .ASN }} route-map orion{{ .ASN }} in
{{- end }}
 exit-address-family
exit
!
{{ range .Groups -}}
route-map orion{{ .ASN }} permit 10
  match ip address prefix-list orion
route-map orion{{ .ASN }} deny 30
{{ end -}}
!
ip prefix-list orion seq 20 permit 10.30.0.0/16 le 32 ge 24
ip prefix-list orion seq 30 permit 232.30.0.0/16 le 32 ge 24
ip route 10.30.0.0/16 reject 255
ip route 10.30.{{ .OrionId }}.0/24 lo 255
!
line vty
!
