frr defaults traditional
log syslog informational
ip forwarding
!
router bgp {{ .ASN }}
 bgp bestpath aigp
 no bgp network import-check
 bgp router-id 192.168.255.{{ .OrionId }}
{{ range .Groups }}
 neighbor orion{{ .ASN }} peer-group
 neighbor orion{{ .ASN }} remote-as {{ .ASN }}
{{- end -}}
{{- range .Peers }}
 neighbor 192.168.255.{{ .OrionId }} peer-group orion{{ .ASN }}
 neighbor 192.168.255.{{ .OrionId }} aigp
 neighbor 192.168.255.{{ .OrionId }} update-source 192.168.255.{{ $.OrionId }}
 neighbor 192.168.255.{{ .OrionId }} capability extended-nexthop
 neighbor 192.168.255.{{ .OrionId }} disable-connected-check
{{- end }}
 !
 address-family ipv4 unicast
  network 10.30.{{ .OrionId }}.0/24
{{- range .Groups }}
  neighbor orion{{ .ASN }} activate
  neighbor orion{{ .ASN }} route-map orion{{ .ASN }} out
  neighbor orion{{ .ASN }} route-map orion{{ .ASN }} in
{{- end }}
 exit-address-family
 !
 address-family ipv4 multicast
  network 232.30.{{ .OrionId }}.0/24
{{- range .Groups }}
  neighbor orion{{ .ASN }} activate
  neighbor orion{{ .ASN }} route-map orion{{ .ASN }} out
  neighbor orion{{ .ASN }} route-map orion{{ .ASN }} in
{{- end }}
 exit-address-family
exit
!
{{ range .Groups -}}
route-map orion{{ .ASN }} permit 10
  match ip address prefix-list orion
route-map orion{{ .ASN }} deny 30
{{ end -}}
!
ip prefix-list orion seq 10 permit 172.30.0.0/15 le 31 ge 31
ip prefix-list orion seq 11 permit 192.168.255.0/24 le 32 ge 32
ip prefix-list orion seq 20 permit 10.30.0.0/16 le 32 ge 24
ip prefix-list orion seq 30 permit 232.30.0.0/16 le 32 ge 24
ip route 10.30.0.0/16 reject 255
ip route 172.30.0.0/15 reject 255
ip route 192.168.255.0/24 reject 255
ip route 10.30.{{ .OrionId }}.0/24 lo 255
!
line vty
!
