[Unit]
Description=Orion backbone daemon for signaling
After=network-online.target
 
[Service]
Type=simple
 
User=root
Group=root
UMask=007
 
EnvironmentFile=/etc/default/oriond
ExecStart=/usr/bin/oriond $TERM

StartLimitIntervalSec=0
RestartSec=3
Restart=always
TimeoutStopSec=300
 
[Install]
WantedBy=multi-user.target
